
.header {
  background-color : #344aed;
  padding-top: 8px;
}
.icons li{
    display: inline;
    padding : 3px;
}
.icons img {
    height: 15px;
    width : 15px;
}
.icons {
    display: inline-block;
    padding: 5px;
    width : 190px;
    margin-left: 10px;
}
.icon-p {
    display: inline-block;
}
.icon-p p {
    color: white;
    margin-left: 30px;
}
.icon-links {
    display: inline-block;
    margin-left: 60px;
    padding: 5px;
    margin-top: 10px;
}
.icon-links a {
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    padding: 2px;
    
}
.nev-bar {
    background-color: #f2f7f7;
    height: 75px;
}

.nev-img {
  margin-left: 60px;
  display: inline;
  position: relative;
  bottom: 60px;
}

.nev-links {
    display: inline;
    margin-left: 200px;
    position: absolute;
    right: 100px;
    top: 90px;
    text-decoration: none;

}
.nev-links a {
    background-color: #f2f7f7;
    font-size: 15px;
    border-radius: 1em;
    margin-left: 10px;
    margin-top: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
}
.nev-links a:hover {
    background-color: #344aed;
    color: white;
}
* {
  box-sizing:border-box
}

/* Slideshow container */
.slideshow {
  position: relative;
  margin: auto;
}
.slide_image {
    vertical-align: middle;
    height: 500px;
    width: 100%; 
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3em;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.lineshow {
  background-color: #344aed;
  height: 30px;
}
#intro-color {
  color: #344aed;
}
#duction-color {
  color: green;
}
.intro {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f5f5;
  height: 500px;

}
#underscore {
  color: green;
  font-weight: bold;
}
.intro-p {
  text-align: justify ! important;
  color: #73706f;
}
body {
  font-family: 'Open Sans', sans-serif;
}

.facilitate {
  background-color: #344aed;
  text-align: center;
}
#animated-number {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.food,.family,.medical,.education {
  display: inline-block;
  color: white;
  margin: 50px 10px 50px 10px;
  text-align: center;
}
.monthly {
  color: lightgreen;
}

.what-we-are-doing {
  background-color: #f2f7f7;
  text-align: center;
}
#what-we-color {
  color: #344aed;
}
#are-doing-color {
  color: darkgreen;
}
.online-sadqah,.welfare,.medicals,.dastarkhan,.ro-plant,.educations {
  
  background-color: white;
  margin: 10px;
  text-align: center;
  mask-border-outset: black;
  height: 180px;
  width: 300px;
  padding-top: 40px;
  display: inline-block;
}
.dastarkhan,.ro-plant,.educations {
  margin-bottom: 60px;
}


.mission {
  background-color: white;
  height: 500px;
  width: 60%;
  margin-left: 90px;
}
#mission-heading {
  color: #344aed;
}
.hepatitis { 
  text-decoration: none;
  text-align: center;
  background-color:  #ebf2ed;
  margin-right: 40px;
  margin-top: 20px;
  height: 120px;
  width: 400px;
  display: inline-block;
  padding-top: 20px;

}
.housing {
  text-align: center;
  background-color: #ebf2ed;
  margin-top: 20px;
  
  height: 120px;
  width: 400px;
  display: inline-block;
  padding-top: 20px;

}
.IT {
  text-align: center;
  background-color: #ebf2ed;
  margin-right: 40px;
  margin-top: 20px;
  height: 120px;
  width: 400px;
  display: inline-block;
  padding-top: 20px;

}
.thar {
  text-align: center;
  background-color: #ebf2ed;
  margin-top: 20px;
  height: 120px;
  width: 400px;
  display: inline-block;
  padding-top: 20px;
}
.mission {
  display: inline-block;
  height: 400px;
}
.upcoming {
  display: inline-block;
  margin : 40px;
}
#image-heading-color {
  color: #344aed;
}
#gallery-heading-color {
  color: green;
}
.gallery h1 {
  text-align: center;
}
.gallery-logo {
  text-align: center;
}
.images {
  display : inline;
}
.gallery {
  padding: 100px;
  padding-bottom: 150px;
}
.contactus {
  background-color: #38393d;
  color: white;
  padding: 70px;
}
/*.address ul {
  list-style-image: url(https://as1.ftcdn.net/jpg/02/23/29/94/500_F_223299442_J397kWq0vWk6bTN5P3UH6bMtIiR0XQdg.jpg);
 }*/
 .address {
   display: inline-block;
   margin: 30px;
 }
 .useful-links {
   display: inline-block;
   margin: 30px;
   position: relative;
   bottom : 145px;
 }
 .contactwithus {
   display: inline-block;
   margin: 30px;
   position: relative;
   bottom : 145px;
 }
 .contactwithus li {
   display: inline;
   padding: 4px;
 }
 
.copyright {
  background-color: #5b78eb;
  color: white;
  padding: 10px;
}
.copyright p {
  margin-top: 8px;
}